%btn-ellipse
    border-radius: 50px
    border: none
    background-color: $white
    color: $black
    padding: 23px 50px
    cursor: pointer
    transition: .5s

%btn-ellipse-hover
    background-color: $opacity-white

%btn-ellipse-active
    background-color: $opacity-white
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)

%btn
    color: $opacity-white
    font-family: 'EB Garamond', sans-serif
    border: none
    outline: 1px solid $opacity-white
    background-color: transparent
    padding: 23px 53px
    border-radius: 5px
    cursor: pointer
    transition: .5s

%btn-hover
    background-color: $opacity-white
    color: $black

%btn-active
    background-color: $opacity-white
    color: $black
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)

%btn-dark
    color: $white
    font-family: 'EB Garamond', sans-serif
    border: none
    background-color: $black
    padding: 15px 66px
    border-radius: 5px
    cursor: pointer
    transition: .5s

%btn-dark-hover
    background-color: rgba(25, 25, 25, 0.7)

%btn-dark-active
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)

%title
    padding: 50px 0 57px 0
    text-align: center
    color: $white
    font-family: 'EB Garamond', sans-serif
    font-weight: 700
    font-size: 40px

%devider
    border-bottom: 1px solid $gray
    border-radius: 5px
    position: relative
    top: -34px
