.about
    background-color: $black
    padding: rem(150) 0
    &__flex-container
        padding-bottom: rem(100)
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__images
        margin: rem(50) 15px 0 15px
    &__title
        margin: rem(100) 0 rem(30) 0
        color: $opacity-white
        font-family: 'EB Garamond', sans-serif
        font-weight: 700
        font-size: rem(40)
        line-height: lh(46, 40)
    &__text
        max-width: 500px
        color: $gray4
        font-size: rem(16)
        line-height: lh(26, 16)

@media screen and ( max-width: 929px )
    .about__flex-container
        justify-content: center

@media screen and ( max-width: 544px )
    .about__content
        padding: 0 15px
    

@media screen and ( max-width: $mob-small )
    .about__content
        max-width: 240px