.our
    background-color: $black
    &__title
        @extend %title
    &__devider
        @extend %devider
    &__container
        display: flex
        justify-content: space-between
    &__image
        margin-right: rem(60)
    &__img
        width: 620px
        height: 570px
    &__description
        max-width: 590px
        margin-bottom: rem(33)
        color: $white
        font-size: rem(16)
        line-height: lh(26, 16)
    &__info
        text-transform: uppercase
        color: $opacity-white
        display: flex
    &__info-block
        padding: 0 10px
        .our__more
            margin-right: 5px
        .our__num
            font-size: rem(45)
    &__buttons
        justify-content: center
        display: flex
        margin-top: rem(105)
        padding-bottom: rem(150)   // ERROR
    &__button
        margin-right: 75px
    &__btn
        @extend %btn
    &__btn:hover
        @extend %btn-hover
    &__btn:active
        @extend %btn-active

@media screen and ( max-width: 676px )
    .our__container
        justify-content: center
    .our__image
        display: none

@media screen and ( max-width: 472px )
    .our__buttons
        flex-direction: column
        text-align: center
    .our__button
        margin-bottom: 40px

@media screen and ( max-width: 330px )
    .our__title
        font-size: 30px