.footer
    z-index: -100
    background-color: $dark-gray
    color: $opacity-white
    min-height: 100px
    line-height: 25px
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
        padding: 40px 0 45px 0
   
    