.header
    background-color: $black
    &__inner
        display: flex
        justify-content: space-between
        padding: 24px 0 27px 0
        align-items: center

.menu__list
    display: flex
    &-item
        margin-right: 30px
    &-link
        color: $opacity-white
    &-link:hover
        color: $white
.header__tel-num
    margin-left: 12px
    font-size: 20px
    color: $opacity-white
    &:hover
        color: $white