.project__card-img
    width: 370px
    height: 384px
    border-radius: 5px

.project__card-title
    margin: rem(26) 0 7px rem(84)
    color: $white
    font-family: 'EB Garamond', sans-serif
    font-weight: 700
    font-size: rem(16)

.project__card-text
    margin-left: rem(84)
    margin-bottom: rem(34)
    font-family: 'EB Garamond', sans-serif
    color: $white