.do
    background: url("../../images/bg2.jpg") no-repeat top center / cover
   
    &__container
        display: flex
        justify-content: space-between
    &__text-best
        margin: rem(200) 0 rem(360) 0
        color: $black
        font-family: 'EB Garamond', sans-serif
        font-size: rem(40)
        line-height: lh(60, 40)
        max-width: 500px
    &__strong
        text-transform: uppercase
        font-weight: 700
    &__text
        max-width: 500px
        margin-bottom: rem(30)
        color: $gray2
        font-size: rem(16)
        line-height: lh(26, 16)
    &__upper
        font-size: rem(20)
        font-weight: 700

    // CARD

    &__cards
        display: flex
        margin-top: rem(100)
        padding-bottom: rem(100)  //ERROR
    
    .do__card
        padding: 0 rem(20)
        margin-right: rem(30)
        background-color: $black
        border-radius: rem(20)
        text-align: center
        &-img
            padding: rem(40) 0
        &-title
            max-width: 220px
            color: $white2
            font-size: rem(18)
            text-transform: uppercase
            line-height: lh(28, 18)
        &-text
            padding: rem(20) 0 rem(40) 0
            max-width: 230px
            color: $gray3
            line-height: lh(24, 14)

@media screen and ( max-width: $notebook )
    .do__card-none-nb
        display: none
    .do__cards
        flex-wrap: wrap
        justify-content: space-between

@media screen and ( max-width: 878px )
    .do__card-none-tb
        display: none

@media screen and ( max-width: $tablet )
    .do__cards
        justify-content: center
    .do__img
        display: none

@media screen and ( max-width: 629px )
    .do__cards
        justify-content: center
    .do__card
        margin-bottom: 30px   

@media screen and ( max-width: $mob-small )
    .do__strong
        font-size: 30px